*{
    font-family: var(--font-family);
}

div{
    width: 100%;
    background-color: var(--fintrackblue);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

div span{
    font-size: var(--font-phone-size);
    color: white;
    padding: 10px;
}
div p{
    font-size: var(--font-tablet-size);
    color: white;
    margin: 0;
    padding: 10px;
}
:host {
    display: block;
    width: 100%;
}

@media(min-width:744px){
    div span{
        font-size: var(--font-tablet-size);
    }
    div p{
        font-size: 40px;
    }
}