:host {
    display: block;
    width: 100%;
    place-self: start;
    height: 70vh;
}
section{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 70vh;
    overflow: auto;

}

section::-webkit-scrollbar{
  width: 10px;
}

@media(min-width: 1280px){
    section{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}