<section>
    <!-- Aqui ira botonAdd -->

    @if (isBotonAddPressed && itemSelected === "Ingresos") {
        <app-add-item itemCategoria="Nuevo Ingreso" (close)="onCloseAddItem()"></app-add-item>
    }@else if (isBotonAddPressed && itemSelected === "Gastos") {
        <app-add-item itemCategoria="Nuevo Gasto" (close)="onCloseAddItem()"></app-add-item>
    }

    @if (arrayIngresos.length === 0) {
        <app-boton-add (botonAddTouch)="onTouchBotonAdd($event)"></app-boton-add>    
    }@else {
        <!-- Componente contenedor de los items -->
        <app-container-items></app-container-items>
        <app-boton-add (botonAddTouch)="onTouchBotonAdd($event)"></app-boton-add>
    }

    <!-- <app-total></app-total> -->
</section>
