<section>
    <!-- Aqui ira botonAdd -->

    @if (isBotonAddPressed) {
        <app-add-item (close)="onCloseAddItem()"></app-add-item>
    }

     <app-boton-add (botonAddTouch)="onTouchBotonAdd($event)"></app-boton-add>

     <!-- Boton para agregar un item -->
     <!-- <app-add-item></app-add-item> -->

     <!-- Componente contendeor de los items -->
     <!-- <app-container-items></app-container-items> -->

    <!-- Componente que muestra el total -->
    <!-- <app-total></app-total> -->
</section>
